#fondo {
    background-color: rgba(255, 255, 255, 0.788);padding: 60px;
}


#titulo {
    background-color: rgb(355, 204, 184);
    font-family: fantasy;
    color: rgb(255, 115, 0);
    font-size: 100px;
    vertical-align: middle;
    text-align: center;
    text-shadow: 7px 4px 5px rgb(77, 76, 76);
}



#introduccion {
    background-color: white;


}

#menu {
    margin: auto;
    width: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    padding: 10px 510px;
    
        
}

ul, ol {
    list-style: none;
    
    
}

.nav li a {
    background-color: grey ;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}




.nav li a:hover {
    background-color: rgb(212, 167, 255);
    
}

.nav > li {
    float: left;
    
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    
}

.nav li:hover > ul {
    display: block;
    
}



#htmlimg {
    vertical-align: middle;
    float: left;
    font-size: 400%;
}

#parrafointro {
    text-align: center; 
    font-weight: bold;
}

#titulotema1 {
    background-color: rgba(128, 128, 128, 0.418);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(73, 73, 73);
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
}

#parrafotema1 {
    text-align: justify;
}

#titulotema2 {
    background-color: rgba(128, 128, 128, 0.418);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(73, 73, 73);
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
}

#parrafotema2 {
    text-align: justify;
}


