#menu {
    margin: auto;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    padding: 0px 510px;
    background-color: rgb(78, 78, 78) ;
    justify-content: space-around;
    flex-direction: row;
    

    
        
}

#fondo {
    background-color: rgba(255, 255, 255, 0.788);padding: 60px;
}


#titulo {
    background-color: rgb(355, 204, 184); 
    font-family: fantasy;
    color: rgb(255, 115, 0);
    font-size: 100px;
    vertical-align: middle;
    text-align: center;
    text-shadow: 7px 4px 5px rgb(77, 76, 76);
}


#piepagina {
    background-color: rgb(255, 203, 154);
}
